/*********** ASIDE Y ASIDE2 ******************/

aside {
    grid-area: aside;
    background-color: $lila_gaming;
}

.boton {
    padding-left: 80px;
    padding-top: 20px;
}

.aside2 {
    grid-area: aside2;
    background-color: $lila_gaming;
    margin-top: 20px;
    @include centrar;
    padding-top: 20px;
}

.div_registro {}

.img_registro {
    width: 400px;
    border-radius: px;
}

.color_texto {
    color: black;
    padding-bottom: 10px;
}

/*********** Footer-Menu-Marcas-copyright ********/

.footer-nav {
    grid-area: footer;
    background-color: $azul_marino_base;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 40px;
}

.copyright {
    justify-content: center;
    align-items: center;
}

.derechos {
    @include centrar;
    font-size: medium;
    color: $azul_fuentes;
    padding-top: 100px;
}

.footer_redes {
    @include centrar;
    align-items: center;
    flex-direction: column;
}

.ul_footer {
    align-items: end;
}

.item_footer {
    list-style: none;
    padding: 5px;
}

.a_footer {
    text-decoration: none;
}