/************* Header-Nav-Redes ****************/

body {
    .contenedor {
        header {
            grid-area: header;
            .logo {
                width: 251px;
                @include centrar;
            }
        }

        nav {
            grid-area: nav;
            display: flex;

            .ul_header {
                list-style: none;
                display: flex;
                margin: 0 auto;
                align-items: center;
                padding: 1rem;
                padding-left: 90px;

                .item_header {}

                .a_header {
                    color: $azul_fuentes;
                    text-decoration: none;
                    padding: 1rem;

                    &:hover {
                        background-color: hsl(0, 2%, 9%);
                        color: #fefefe;
                    }
                }
            }
        }

        .redes {
            display: flex;
            .fab {
                padding: 5px;
            }
        }


        .header_estilo {
            background-color: $azul_marino_base;
            margin-bottom: 20px;
        }

        #check {
            display: none;
        }

        label {
            .menu_icon {
                img {
                    width: 50px;
                    height: 50px;
                    border-radius: 2px;
                }
            }
        }
    }
}



.menu_icon,
#check {
    display: none;
}









.tam {
    width: 100%;
    height: 30vh;
}

.redes {
    grid-area: redes;
    @include centrar;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 30px;
}

/***************** GAMING ****************/

.header_gaming {
    grid-area: gaming;
    @include centrar;
    flex-direction: row;
    background-color: $lila_gaming;
    padding-top: 5px;
    margin-bottom: 20px;
}

.img_game {
    background-color: $lila_gaming;
    height: 100px;
    padding: 15px;

}