/************* Header-Nav-Redes ****************/

.logo {
    width: 251px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
}

.ul_header {
    list-style: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding: 1rem;
}

.a_header {
    color: hsl(228, 100%, 60%);
    text-decoration: none;
    padding: 1rem;
   
}

.a_header:hover {
    background-color: hsl(0, 2%, 9%);
    color: #fefefe;
}

.tam {
    width: 100%;
    height: 30vh;
}

.header_estilo {
    background-color: hwb(232 0% 75%);
    margin-bottom: 20px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;

}

.menu_icon img {
    width: 50px;
    height: 50px;
    border-radius: 2px;
}

.menu_icon,
#check {
    display: none;
}

.redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 30px;
}

/***************** GAMING ****************/

.header_gaming {
    grid-area: gaming;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(103, 93, 252);
    padding-top: 5px;
    margin-bottom: 20px;
}

.img_game {
    background-color: rgb(103, 93, 252);
    height: 100px;
    padding: 15px;

}
