

.noticias {
    width: 100%;
    display: flex;
    max-width: 2000px;
}


.tarjeta {
    width: 200%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #e2c14a;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}

.tarjeta:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.tarjeta img {
    width: 100%;
}
.tarjeta .contenido{
    padding: 15px;
    text-align: center;
}
.tarjeta ,.contenido p{
    line-height: 1.5;
    color:rgb(0, 0, 0);
}
.tarjeta .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;
}
.tarjeta .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 20px;
    color: blue;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
    transition: all 400ms ease;
}
.tarjeta .contenido a:hover{
    background: cornflowerblue;
    color: #fff;
}

