/***************** SECTION ****************/

section {
    grid-area: section;
    background-color: hwb(233 7% 26%);
    background-image: url(../img/nuevo_protocol.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.aside_noti{
    background-image: url(../img/YEHs.gif);
}