/***************** SECTION ****************/

section {
    grid-area: section;
    background-color: hwb(233 7% 26%);
    background-image: url(../img/nuevo_protocol.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}


.video {
    padding-top: 5px;
    padding-right: 50px;
}